body {

}

.current {
    background-color: #6837fa;
}

.currentTile.current .left-container .right-container .play .pause-icon {
  display: block;
}

.currentTile.current .left-container .right-container .play .play-icon {
  display: none;
}



















.font-monument {
  font-family: 'Monument Extended';
}

.font-monument-light {
  font-family: 'Monument Extended light';
  font-weight: 300;
}
.font-monument-regular {
  font-family: 'Monument Extended Regular';
  font-weight: 400;
}

@font-face {
  font-family: 'Monument Extended';
  src: url('/font/Monument_Extended_Font/MonumentExtended-Thin.ttf');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Monument Extended Light';
  src: url('/font/Monument_Extended_Font/MonumentExtended-Light.ttf');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Monument Extended Regular';
  src: url('/font/Monument_Extended_Font/MonumentExtended-Regular.ttf');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Monument Extended';
  src: url('/font/Monument_Extended_Font/MonumentExtended-Bold.ttf');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Monument Extended';
  src: url('/font/Monument_Extended_Font/MonumentExtended-Ultrabold.otf');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Monument Extended';
  src: url('/font/Monument_Extended_Font/MonumentExtended-Black.ttf');
  font-weight: normal;
  font-style: normal;
}

/*width*/
::-webkit-scrollbar {
  width:7px;
}

/*track*/
::-webkit-scrollbar-track {
  background:rgba(255, 255, 255, 0.1);
  border-width:1px;
  border-style:none;
  border-radius:10px;
}

/*thumb*/
::-webkit-scrollbar-thumb {
  background:rgb(85, 85, 85);
  border-color:rgb(153, 153, 153);
  border-radius:10px;
}