* {
  scroll-behavior: smooth;
}

.current {
  color: #6837fa;
  font-weight: 700;
}

.currentTile.current .right-container .lyrics {
  border-color: #6837fa;
}

.currentTile.current .left-container .right-container .play .pause-icon {
  display: block;
}

.currentTile.current .left-container .right-container .play .play-icon {
  display: none;
}

.mini-player {
  box-shadow: 0px -3px 20px -5
  px rgba(128, 128, 128, 0.412);
}


.faq-box {
  transition: 0.5s ease;
  -webkit-transition: 0.5s ease;
  -moz-transition: 0.5s ease;
  -ms-transition: 0.5s ease;
  -o-transition: 0.5s ease;
}

.faq-box:hover {
  height: 12rem;
  @apply sm:h-[8rem];
  @apply md:h-[11rem];
  @apply lg:h-[10rem];
  transition: 0.5s ease;
  -webkit-transition: 0.5s ease;
  -moz-transition: 0.5s ease;
  -ms-transition: 0.5s ease;
  -o-transition: 0.5s ease;
}

.faq-box:hover .bottom {
  display: block;
  transition: 0.5s ease;
  -webkit-transition: 0.5s ease;
  -moz-transition: 0.5s ease;
  -ms-transition: 0.5s ease;
  -o-transition: 0.5s ease;
}

.faq-box:hover .top svg {
  transform: rotate(180deg);
  transition: 0.5s ease;
  -webkit-transition: 0.5s ease;
  -moz-transition: 0.5s ease;
  -ms-transition: 0.5s ease;
  -o-transition: 0.5s ease;
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
}

.faq-box::-webkit-scrollbar {
    visibility: hidden;
}



* {
  outline: none;
}

.connect-wallet {
  background: -webkit-linear-gradient(0deg, transparent 50%, black 50%);
  background-size: 310px 80px;
  transition: 0.8s;
  -webkit-transition: 0.8s;
  -moz-transition: 0.8s;
  -ms-transition: 0.8s;
  -o-transition: 0.8s;
  position: relative;
}

.connect-wallet:hover {
  background-position: 155px 0px;
  color: white;
  border: 1px solid white;
}

/*.connect-wallet::after {
  content: 'You can connect your wallet once minting starts.';
  text-transform: none;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  line-height: 16px;
  bottom: -70px;
  left: 50%;
  border: 1px solid;
  !* height: 70px; *!
  width: 95%;
  background-color: #c4c4c4;
  transform: translate(-50%) scale(0);
  !* transition: 800ms ease-in; *!
  @apply bg-center bg-contain bg-no-repeat py-2 sm:py-3 shadow-lg;
  @apply sm:-bottom-[80px];
  @apply xl:leading-normal xl:-bottom-[90px];
}*/

.connect-wallet:hover::after {
  transform: translate(-50%) scale(1);
}














.font-monument {
  font-family: 'Monument Extended';
}

.font-monument-light {
  font-family: 'Monument Extended light';
  font-weight: 300;
}
.font-monument-regular {
  font-family: 'Monument Extended Regular';
  font-weight: 400;
}

@font-face {
  font-family: 'Monument Extended';
  src: url('/font/Monument_Extended_Font/MonumentExtended-Thin.ttf');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Monument Extended Light';
  src: url('/font/Monument_Extended_Font/MonumentExtended-Light.ttf');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Monument Extended Regular';
  src: url('/font/Monument_Extended_Font/MonumentExtended-Regular.ttf');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Monument Extended';
  src: url('/font/Monument_Extended_Font/MonumentExtended-Bold.ttf');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Monument Extended';
  src: url('/font/Monument_Extended_Font/MonumentExtended-Ultrabold.otf');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Monument Extended';
  src: url('/font/Monument_Extended_Font/MonumentExtended-Black.ttf');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/*width*/
body::-webkit-scrollbar {
  width:7px;
}

/*track*/
body::-webkit-scrollbar-track {
  background:rgba(255, 255, 255, 0.1);
  border-width:1px;
  border-style:none;
  border-radius:10px;
}

body::-webkit-scrollbar-track-piece {
  background-color: transparent;
}

/*thumb*/
body::-webkit-scrollbar-thumb {
  background:rgb(85, 85, 85);
  border-color:rgb(153, 153, 153);
  border-radius:10px;
}
